@charset "utf-8";

body, html {
	height: 100%;
	min-height: 100%;
}

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

body.loading:before {
	background-image: url('../img/ico_loading.gif');
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: table;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;
    z-index: 99999;
}

section {
	min-width: 960px;
	opacity: 0;
}

img{
	border: 0;
}

.text-center{
	text-align: center;
}

div.sections {
	background-position: 50% 0px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0 auto;
	padding: 0;
}

#intro{
	background-image: url(../img/paralax/heart-coffee-cup-beans.jpg);
}

.header {
	display: inline-block;
	height: 120px;
	width: 100%;
	margin-top: 80px;
	background-color: rgba(255, 255, 255, .3);
}

.header .logo {
	
}

.header .social {
	padding-top: 34px;
}

.header .social .panel{
	padding: 10px;
	width: 141px;
	background-color: rgba(255, 255, 255, 0.5);
}

.header .social a{
	margin-left: 5px;
}

.header .social a:first-child{
	margin-left: 0px;
}

.slogan {
	margin-top: 100px;
}

.slogan .fs_title {
	font-size: 60px;
	font-weight: 200;
	margin-left: -10px;
	text-shadow: 0px 0px 22px rgba(0, 0, 0, 1);
	color: rgb(255, 255, 255);
	font-style: italic;
}

.slogan .fs_description {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	width: 800px;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.slogan .fs_title:after {
	background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    content: "";
    height: 4px;
    left: 40%;
    position: absolute;
    top: 50%;
    width: 200px;
}

#second{
	background-image: url(../img/paralax/eski_corlu.jpg);
	height: 400px;
}

#third{
	background: url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}